<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

About this site
<h3>This is homework from stepic.org</h3>
What can you do here:
<ol>
    <li>Generate password</li>
    <ul>
        <li>Chouse lenth</li>
        <li>Uppercase or not</li>
        <li>With numbers</li>
        <li>Or some special simbol</li>
    </ul>
    <li>Refresh page with password to generate some new</li>
    <li>Read this about page:)</li>
</ol>

<a href={% url 'home' %}>Home</a>

